.main-card {
    max-width: 350px;
    position: relative;
}
  
.header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.card-title {
    font-family: 'Francois One', sans-serif;
    font-size: 30px;
    padding-right: 24px;
}

.card-align-right {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    text-align: right;
    padding: 8px 0 !important;
} 

.button-row button,
.button-row a {
    margin-right: 8px;
}

.menu-right {
    position: absolute;
    top: 10px;
    right: 7px;
}

.card-toogle {
    float: left;
    margin: 10px 0 0 10px;
}

.mat-card-content p {
    font-size: 12px;
}

.counter {
    position: absolute;
    margin: auto;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -23px;
    text-align: center;
}
