<mat-card class="main-card" *ngIf="data">
  <button mat-icon-button class="menu-right" (click)="openForm()">
    <mat-icon>settings</mat-icon>
  </button>
  
  <mat-card-title class="card-title">{{getWord()}}</mat-card-title>
  
  <mat-card-content>
    <p>
      {{getContext()}}
    </p>
  </mat-card-content>

  <mat-card-actions class="card-align-right">
    <div class="button-row">

      <mat-slide-toggle class="card-toogle" color="primary" (click)="toogleTranslate()">
        Translate
      </mat-slide-toggle>

      <button mat-mini-fab color="warn" (click)="registerFailure(true)">
        <mat-icon>clear</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="registerFailure(false)">
        <mat-icon>done</mat-icon>
      </button>

      <pre class="counter">{{restantWords}}/{{totalWords}}</pre>
    </div>
  </mat-card-actions>

  <pre *ngIf="isDebuggerMode()">{{data | json}}</pre>
  <pre *ngIf="isDebuggerMode(true)">{{allData | json}}</pre>

</mat-card>
